@import "bootstrap/bootstrap/mixins";
@import "bootstrap/bootstrap/variables";
@import "includes/variaveis";

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato_light.ttf");
}

*{
  font-family: 'lato', sans-serif;
  color: $preto;
}

body{
  background-color: $bg;
}

a{
  &:hover, &:focus{
    text-decoration: none;
  }
}

input, button, select{
  &:focus{
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.imagem_logo{
  @include make-md-column(3);
  @include make-md-column-offset(0.5);
  margin-top: 30px;
}

.header{
  @include make-md-column(12);
  background-color: $light;
  height: 107px;
  .imagem_logo{
    margin-top: 20px;
  }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

#info{
  text-align: center;
  margin-top: 10px;
  #icones_header,#header_adm{
    text-align: center;
    .logout{
      transform: translateY(-1px);
    }
    .info,.config,.logout{
      width: 25%;
      display: inline-block;
      text-align: center;
      #icon_info{
        width: 32px;
        transform: translateY(-7px);
        transition: .2s;
        border: 2px solid transparent;
        border-radius: 50px;
        &:hover{
          padding: 5px;
          width: 44px;
          border: 2px solid $hard;
        }
      }
      .flaticon-settings,.flaticon-logout{
        &:hover::before{
          padding: 5px;
          border: 2px solid $hard;
        }
      }

      .flaticon-logout{
        &:hover::before{
          padding: 7px;
        }
      }

      .flaticon-settings::before,.flaticon-logout::before{
        border: 2px solid transparent;
        border-radius: 50px;
        font-size: 21pt;
        color: $hard;
        margin: 0;
        transition: .2s;
      }
      .flaticon-logout::before{
        font-size: 18pt;
      }
    }
  }
}

@import "includes/login";
@import "includes/atendente";
@import "includes/adm";
@import "includes/collapse";