@font-face {
  font-family: 'lato';
  src: url("../fonts/lato_light.ttf"); }
* {
  font-family: 'lato', sans-serif;
  color: #202020; }

body {
  background-color: #e4ecf7; }

a:hover, a:focus {
  text-decoration: none; }

input:focus, button:focus, select:focus {
  outline: none;
  box-shadow: none;
  border: none; }

.imagem_logo {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px; }
  @media (min-width: 992px) {
    .imagem_logo {
      float: left;
      width: 25%; } }
  @media (min-width: 992px) {
    .imagem_logo {
      margin-left: 4.16667%; } }

.header {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #b8d3e4;
  height: 107px; }
  @media (min-width: 992px) {
    .header {
      float: left;
      width: 100%; } }
  .header .imagem_logo {
    margin-top: 20px; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

#info {
  text-align: center;
  margin-top: 10px; }
  #info #icones_header, #info #header_adm {
    text-align: center; }
    #info #icones_header .logout, #info #header_adm .logout {
      transform: translateY(-1px); }
    #info #icones_header .info, #info #icones_header .config, #info #icones_header .logout, #info #header_adm .info, #info #header_adm .config, #info #header_adm .logout {
      width: 25%;
      display: inline-block;
      text-align: center; }
      #info #icones_header .info #icon_info, #info #icones_header .config #icon_info, #info #icones_header .logout #icon_info, #info #header_adm .info #icon_info, #info #header_adm .config #icon_info, #info #header_adm .logout #icon_info {
        width: 32px;
        transform: translateY(-7px);
        transition: .2s;
        border: 2px solid transparent;
        border-radius: 50px; }
        #info #icones_header .info #icon_info:hover, #info #icones_header .config #icon_info:hover, #info #icones_header .logout #icon_info:hover, #info #header_adm .info #icon_info:hover, #info #header_adm .config #icon_info:hover, #info #header_adm .logout #icon_info:hover {
          padding: 5px;
          width: 44px;
          border: 2px solid #1a3145; }
      #info #icones_header .info .flaticon-settings:hover::before, #info #icones_header .info .flaticon-logout:hover::before, #info #icones_header .config .flaticon-settings:hover::before, #info #icones_header .config .flaticon-logout:hover::before, #info #icones_header .logout .flaticon-settings:hover::before, #info #icones_header .logout .flaticon-logout:hover::before, #info #header_adm .info .flaticon-settings:hover::before, #info #header_adm .info .flaticon-logout:hover::before, #info #header_adm .config .flaticon-settings:hover::before, #info #header_adm .config .flaticon-logout:hover::before, #info #header_adm .logout .flaticon-settings:hover::before, #info #header_adm .logout .flaticon-logout:hover::before {
        padding: 5px;
        border: 2px solid #1a3145; }
      #info #icones_header .info .flaticon-logout:hover::before, #info #icones_header .config .flaticon-logout:hover::before, #info #icones_header .logout .flaticon-logout:hover::before, #info #header_adm .info .flaticon-logout:hover::before, #info #header_adm .config .flaticon-logout:hover::before, #info #header_adm .logout .flaticon-logout:hover::before {
        padding: 7px; }
      #info #icones_header .info .flaticon-settings::before, #info #icones_header .info .flaticon-logout::before, #info #icones_header .config .flaticon-settings::before, #info #icones_header .config .flaticon-logout::before, #info #icones_header .logout .flaticon-settings::before, #info #icones_header .logout .flaticon-logout::before, #info #header_adm .info .flaticon-settings::before, #info #header_adm .info .flaticon-logout::before, #info #header_adm .config .flaticon-settings::before, #info #header_adm .config .flaticon-logout::before, #info #header_adm .logout .flaticon-settings::before, #info #header_adm .logout .flaticon-logout::before {
        border: 2px solid transparent;
        border-radius: 50px;
        font-size: 21pt;
        color: #1a3145;
        margin: 0;
        transition: .2s; }
      #info #icones_header .info .flaticon-logout::before, #info #icones_header .config .flaticon-logout::before, #info #icones_header .logout .flaticon-logout::before, #info #header_adm .info .flaticon-logout::before, #info #header_adm .config .flaticon-logout::before, #info #header_adm .logout .flaticon-logout::before {
        font-size: 18pt; }

#conteudo_login {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    #conteudo_login {
      float: left;
      width: 100%; } }
  #conteudo_login #janela_login {
    width: 400px;
    height: 400px;
    transform: translateY(30%);
    background-color: #eee;
    border: solid 2px #4b7191; }
    #conteudo_login #janela_login h1 {
      text-align: center;
      font-size: 40pt;
      margin: 10px 0;
      color: #202020; }
    #conteudo_login #janela_login #linha_login {
      background-color: #202020;
      height: 2px;
      display: block;
      width: 120px;
      transform: translateY(-10px);
      margin-left: 220px; }
    #conteudo_login #janela_login #formulario_login {
      margin: 10px 30px 30px 30px; }
      #conteudo_login #janela_login #formulario_login .campos_login {
        width: 100%;
        height: 50px;
        font-size: 18pt;
        margin-top: 20px;
        border: none;
        background-color: transparent; }
      #conteudo_login #janela_login #formulario_login .placeholder {
        transform: translate(1px, -43px);
        display: block;
        position: absolute;
        transition: .3s;
        font-size: 18pt;
        color: #7d7d7d;
        font-weight: 100;
        cursor: text; }
      #conteudo_login #janela_login #formulario_login #matricula:focus ~ .matricula, #conteudo_login #janela_login #formulario_login #senha:focus ~ .senha, #conteudo_login #janela_login #formulario_login .active {
        transform: translate(1px, -65px);
        z-index: 1;
        font-size: 12pt;
        color: #202020; }
      #conteudo_login #janela_login #formulario_login #preencha {
        display: none; }
      #conteudo_login #janela_login #formulario_login .preencha {
        border: red solid 1px; }
      #conteudo_login #janela_login #formulario_login .input_attr:focus ~ .limpar {
        opacity: 1; }
      #conteudo_login #janela_login #formulario_login .input_attr {
        border-bottom: solid 1px #4b7191; }
      #conteudo_login #janela_login #formulario_login .limpar {
        position: absolute;
        right: 40px;
        transform: translateY(-40px);
        font-size: 15pt;
        color: #7d7d7d;
        opacity: 0; }
        #conteudo_login #janela_login #formulario_login .limpar:hover {
          text-decoration: none; }
      #conteudo_login #janela_login #formulario_login .botao {
        border: solid 2px #4b7191;
        border-color: #1a3145;
        background-color: transparent;
        transition: .4s;
        margin-top: 25px; }
        #conteudo_login #janela_login #formulario_login .botao:hover {
          background-color: #1a3145;
          color: #fff; }
      #conteudo_login #janela_login #formulario_login #panel_end {
        margin: 10px auto 0 auto; }
        #conteudo_login #janela_login #formulario_login #panel_end #input_checkbox {
          margin-top: 10px;
          width: 25px;
          height: 12px;
          background-color: #1a3145;
          position: relative;
          border-radius: 50px;
          border: solid 2px #4b7191;
          border-color: #202020;
          display: inline-block; }
          #conteudo_login #janela_login #formulario_login #panel_end #input_checkbox label {
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: -4px;
            left: -3px;
            cursor: pointer;
            background-color: #fff;
            border: solid 2px #4b7191;
            border-color: #1a3145;
            border-radius: 50px;
            transition: all .3s ease; }
          #conteudo_login #janela_login #formulario_login #panel_end #input_checkbox input[type=checkbox] {
            visibility: hidden; }
            #conteudo_login #janela_login #formulario_login #panel_end #input_checkbox input[type=checkbox]:checked + label {
              left: 8px; }
        #conteudo_login #janela_login #formulario_login #panel_end #label {
          display: inline-block;
          font-size: 12pt;
          transform: translateY(-7px); }
        #conteudo_login #janela_login #formulario_login #panel_end #esqueceu_senha {
          font-size: 12pt;
          float: right;
          display: block;
          margin-top: 4px;
          color: #e7982a;
          font-weight: bolder; }
          #conteudo_login #janela_login #formulario_login #panel_end #esqueceu_senha:hover {
            opacity: .7; }
      #conteudo_login #janela_login #formulario_login .mensagem-erro {
        color: #ff0000;
        text-align: center;
        font-size: 12pt;
        font-weight: bold; }

#conteudo_atendente .header {
  float: none; }
  #conteudo_atendente .header #info {
    float: right; }
    #conteudo_atendente .header #info #nome_atendente {
      text-align: center;
      font-size: 16pt;
      color: #1a3145;
      font-weight: bold;
      width: 100%; }
    #conteudo_atendente .header #info #icones_header .icones_header {
      width: 50px; }
#conteudo_atendente #atendendo {
  width: 400px;
  text-align: center;
  transform: translate(calc(50vw - 200px), 30px); }
  #conteudo_atendente #atendendo .box_senha {
    background-color: #e5dfa7;
    width: 100px;
    margin-left: 150px;
    text-align: center;
    padding: 5px 0;
    border: solid 1px #4b7191;
    font-size: 22pt;
    font-weight: bold; }
  #conteudo_atendente #atendendo .sem_senha, #conteudo_atendente #atendendo .chamar_senha {
    padding: 0;
    width: 300px;
    margin-left: 50px;
    font-size: 15pt; }
  #conteudo_atendente #atendendo #linha_atendente {
    width: 150px;
    height: 1px;
    display: block;
    background-color: #1a3145;
    margin-left: 125px; }
  #conteudo_atendente #atendendo #botoes_senha {
    width: 100%;
    display: inline-block; }
    #conteudo_atendente #atendendo #botoes_senha form {
      width: 70px;
      display: inline-block; }
    #conteudo_atendente #atendendo #botoes_senha .botao_chamar {
      margin-top: 10px;
      margin-right: 10px;
      background-color: #4b7191;
      border: solid #1a3145 1px;
      transition: .3s;
      width: 70px; }
      #conteudo_atendente #atendendo #botoes_senha .botao_chamar:hover {
        background-color: #b8d3e4; }
      #conteudo_atendente #atendendo #botoes_senha .botao_chamar .icon_call {
        width: 40px; }
    #conteudo_atendente #atendendo #botoes_senha .botao_finalizar {
      width: 70px;
      display: inline-block;
      background-color: #1a3145;
      padding: 2px 0;
      margin-left: 10px;
      transition: .3s;
      border: solid #1a3145 1px; }
      #conteudo_atendente #atendendo #botoes_senha .botao_finalizar:hover {
        background-color: #b8d3e4; }
      #conteudo_atendente #atendendo #botoes_senha .botao_finalizar #icon_finish {
        width: 38px; }
#conteudo_atendente #ultimas_pedidas {
  width: 400px;
  text-align: center;
  transform: translate(calc(50vw - 200px), 100px); }
  #conteudo_atendente #ultimas_pedidas h2 {
    font-size: 25pt; }
  #conteudo_atendente #ultimas_pedidas #ultimas_conteudo {
    font-size: 18pt;
    font-weight: bold; }
    #conteudo_atendente #ultimas_pedidas #ultimas_conteudo #ultimas_senhas {
      color: #4b7191; }
      #conteudo_atendente #ultimas_pedidas #ultimas_conteudo #ultimas_senhas .divisor {
        color: #1a3145; }
#conteudo_atendente #menu_info {
  width: 400px;
  position: fixed;
  right: 0;
  top: 110px;
  transform: translateX(410px);
  background-color: #b8d3e4;
  transition: .4s;
  border: solid 1px #4b7191;
  border-right: none;
  padding: 10px;
  text-align: center; }
  #conteudo_atendente #menu_info h2 {
    margin-top: 0;
    font-weight: bold; }
  #conteudo_atendente #menu_info table {
    font-size: 15pt;
    width: 100%; }
    #conteudo_atendente #menu_info table caption {
      font-weight: bold; }
    #conteudo_atendente #menu_info table tr, #conteudo_atendente #menu_info table td, #conteudo_atendente #menu_info table th {
      text-align: center; }
#conteudo_atendente #finalizar_senha, #conteudo_atendente #editar_atendente {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 46, 68, 0.9);
  transition: .4s; }
  #conteudo_atendente #finalizar_senha #janela_finalizar, #conteudo_atendente #finalizar_senha #janela_editar, #conteudo_atendente #editar_atendente #janela_finalizar, #conteudo_atendente #editar_atendente #janela_editar {
    width: 400px;
    background-color: #b8d3e4;
    transform: translate(calc(50vw - 200px), calc(50vh - 150px));
    border: solid 1px #4b7191;
    text-align: center;
    padding: 0 20px 20px 20px; }
    #conteudo_atendente #finalizar_senha #janela_finalizar a:hover #icon_close, #conteudo_atendente #finalizar_senha #janela_editar a:hover #icon_close, #conteudo_atendente #editar_atendente #janela_finalizar a:hover #icon_close, #conteudo_atendente #editar_atendente #janela_editar a:hover #icon_close {
      transform: rotate(134deg); }
    #conteudo_atendente #finalizar_senha #janela_finalizar a #icon_close, #conteudo_atendente #finalizar_senha #janela_editar a #icon_close, #conteudo_atendente #editar_atendente #janela_finalizar a #icon_close, #conteudo_atendente #editar_atendente #janela_editar a #icon_close {
      position: absolute;
      left: 420px;
      width: 25px;
      transition: .3s; }
    #conteudo_atendente #finalizar_senha #janela_finalizar h2, #conteudo_atendente #finalizar_senha #janela_editar h2, #conteudo_atendente #editar_atendente #janela_finalizar h2, #conteudo_atendente #editar_atendente #janela_editar h2 {
      margin-top: 10px;
      font-weight: bold; }
    #conteudo_atendente #finalizar_senha #janela_finalizar #linha_atendimento, #conteudo_atendente #finalizar_senha #janela_editar #linha_atendimento, #conteudo_atendente #editar_atendente #janela_finalizar #linha_atendimento, #conteudo_atendente #editar_atendente #janela_editar #linha_atendimento {
      background-color: #202020;
      height: 1px;
      display: block;
      width: 90px;
      transform: translateY(-10px);
      margin-left: 260px;
      margin-top: 20px; }
    #conteudo_atendente #finalizar_senha #janela_finalizar h3, #conteudo_atendente #finalizar_senha #janela_editar h3, #conteudo_atendente #editar_atendente #janela_finalizar h3, #conteudo_atendente #editar_atendente #janela_editar h3 {
      font-size: 14pt;
      margin-top: 5px; }
    #conteudo_atendente #finalizar_senha #janela_finalizar #formulario_finalizar, #conteudo_atendente #finalizar_senha #janela_editar #formulario_finalizar, #conteudo_atendente #editar_atendente #janela_finalizar #formulario_finalizar, #conteudo_atendente #editar_atendente #janela_editar #formulario_finalizar {
      width: 100%; }
      #conteudo_atendente #finalizar_senha #janela_finalizar #formulario_finalizar #botao_select, #conteudo_atendente #finalizar_senha #janela_editar #formulario_finalizar #botao_select, #conteudo_atendente #editar_atendente #janela_finalizar #formulario_finalizar #botao_select, #conteudo_atendente #editar_atendente #janela_editar #formulario_finalizar #botao_select {
        position: absolute;
        left: 78%;
        transform: translateY(5px);
        z-index: -100; }
      #conteudo_atendente #finalizar_senha #janela_finalizar #formulario_finalizar #tipos_atendimento, #conteudo_atendente #finalizar_senha #janela_editar #formulario_finalizar #tipos_atendimento, #conteudo_atendente #editar_atendente #janela_finalizar #formulario_finalizar #tipos_atendimento, #conteudo_atendente #editar_atendente #janela_editar #formulario_finalizar #tipos_atendimento {
        width: 80%;
        margin-left: 10%;
        cursor: pointer;
        font-size: 14pt;
        height: 40px;
        display: block;
        border: solid 1px #1a3145;
        padding: 0 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: rgba(26, 19, 69, 0.01);
        transition: .3s; }
        #conteudo_atendente #finalizar_senha #janela_finalizar #formulario_finalizar #tipos_atendimento:focus, #conteudo_atendente #finalizar_senha #janela_editar #formulario_finalizar #tipos_atendimento:focus, #conteudo_atendente #editar_atendente #janela_finalizar #formulario_finalizar #tipos_atendimento:focus, #conteudo_atendente #editar_atendente #janela_editar #formulario_finalizar #tipos_atendimento:focus {
          border: solid 1px #1a3145;
          background: rgba(26, 19, 69, 0.2);
          color: #fff; }
        #conteudo_atendente #finalizar_senha #janela_finalizar #formulario_finalizar #tipos_atendimento:hover, #conteudo_atendente #finalizar_senha #janela_editar #formulario_finalizar #tipos_atendimento:hover, #conteudo_atendente #editar_atendente #janela_finalizar #formulario_finalizar #tipos_atendimento:hover, #conteudo_atendente #editar_atendente #janela_editar #formulario_finalizar #tipos_atendimento:hover {
          background: rgba(26, 19, 69, 0.2);
          color: #fff; }
      #conteudo_atendente #finalizar_senha #janela_finalizar #formulario_finalizar #botao_finalizar, #conteudo_atendente #finalizar_senha #janela_editar #formulario_finalizar #botao_finalizar, #conteudo_atendente #editar_atendente #janela_finalizar #formulario_finalizar #botao_finalizar, #conteudo_atendente #editar_atendente #janela_editar #formulario_finalizar #botao_finalizar {
        display: block;
        width: 50%;
        margin-left: 25%;
        background-color: #e5dfa7;
        margin-top: 40px;
        border: solid 2px #1a3145;
        font-weight: bold;
        font-size: 16pt;
        color: #1a3145;
        transition: .3s; }
        #conteudo_atendente #finalizar_senha #janela_finalizar #formulario_finalizar #botao_finalizar:hover, #conteudo_atendente #finalizar_senha #janela_editar #formulario_finalizar #botao_finalizar:hover, #conteudo_atendente #editar_atendente #janela_finalizar #formulario_finalizar #botao_finalizar:hover, #conteudo_atendente #editar_atendente #janela_editar #formulario_finalizar #botao_finalizar:hover {
          background-color: transparent; }
#conteudo_atendente #editar_atendente #janela_editar {
  transform: translate(calc(50vw - 200px), 2px);
  padding: 0; }
  #conteudo_atendente #editar_atendente #janela_editar a:hover #fechar_editar {
    transform: rotate(134deg); }
  #conteudo_atendente #editar_atendente #janela_editar a #fechar_editar {
    position: absolute;
    left: 420px;
    width: 25px;
    transition: .3s; }
  #conteudo_atendente #editar_atendente #janela_editar #formulario_editar {
    margin: 10px 30px 30px 30px; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar .campos_input {
      width: 100%;
      height: 50px;
      font-size: 18pt;
      margin-top: 20px;
      border: none;
      background-color: transparent; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar #matricula, #conteudo_atendente #editar_atendente #janela_editar #formulario_editar #nome {
      opacity: .3; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar a {
      font-size: 15pt;
      transform: translateY(20px);
      display: block;
      font-weight: bold;
      color: #e7982a;
      text-align: right;
      margin-bottom: 10px; }
      #conteudo_atendente #editar_atendente #janela_editar #formulario_editar a:hover {
        color: #fbb749; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar .placeholder {
      transform: translate(1px, -43px);
      display: block;
      position: absolute;
      transition: .3s;
      font-size: 18pt;
      color: #7d7d7d;
      font-weight: 100;
      cursor: text; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar #senhaAtual:focus ~ .senhaAtual,
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar #novaSenha:focus ~ .novaSenha,
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar #repeteSenha:focus ~ .repeteSenha,
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar #email:focus ~ .email,
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar .active {
      transform: translate(1px, -65px);
      z-index: 1;
      font-size: 12pt;
      color: #202020; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar .input_attr:focus ~ .limpar {
      opacity: 1; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar .input_attr {
      border-bottom: solid 1px #4b7191; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar .limpar {
      position: absolute;
      right: 40px;
      transform: translateY(-40px);
      font-size: 15pt;
      color: #7d7d7d;
      opacity: 0; }
      #conteudo_atendente #editar_atendente #janela_editar #formulario_editar .limpar:hover {
        text-decoration: none; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar .botao {
      border: solid 2px #4b7191;
      border-color: #1a3145;
      background-color: transparent;
      transition: .4s;
      margin-top: 25px; }
      #conteudo_atendente #editar_atendente #janela_editar #formulario_editar .botao:hover {
        background-color: #1a3145;
        color: #fff; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar p {
      margin: 0;
      font-size: 14pt;
      float: right;
      margin-top: 10px;
      font-weight: bold; }
      #conteudo_atendente #editar_atendente #janela_editar #formulario_editar p a {
        display: inline-block;
        margin: 0;
        transform: translateY(0); }
        #conteudo_atendente #editar_atendente #janela_editar #formulario_editar p a .flaticon-cancel::before {
          margin-left: 7px;
          color: #e7982a;
          display: block;
          transform: translateY(1px); }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar #botao_alterarSenha .flaticon-padlock::before {
      font-size: 12pt; }
    #conteudo_atendente #editar_atendente #janela_editar #formulario_editar #alterar_senha {
      margin-top: 25px; }

#conteudo_adm_index #header_adm, #conteudo_adm #header_adm, #conteudo_add_atendente #header_adm, #conteudo_tipo_atendimento #header_adm {
  float: none; }
  #conteudo_adm_index #header_adm .voltar_pagina, #conteudo_adm #header_adm .voltar_pagina, #conteudo_add_atendente #header_adm .voltar_pagina, #conteudo_tipo_atendimento #header_adm .voltar_pagina {
    position: absolute;
    float: left;
    left: 50px;
    top: 30px; }
    #conteudo_adm_index #header_adm .voltar_pagina .flaticon-back::before, #conteudo_adm #header_adm .voltar_pagina .flaticon-back::before, #conteudo_add_atendente #header_adm .voltar_pagina .flaticon-back::before, #conteudo_tipo_atendimento #header_adm .voltar_pagina .flaticon-back::before {
      font-size: 18pt; }
    #conteudo_adm_index #header_adm .voltar_pagina .flaticon-back:hover::before, #conteudo_adm #header_adm .voltar_pagina .flaticon-back:hover::before, #conteudo_add_atendente #header_adm .voltar_pagina .flaticon-back:hover::before, #conteudo_tipo_atendimento #header_adm .voltar_pagina .flaticon-back:hover::before {
      color: #4b7191; }
  #conteudo_adm_index #header_adm .imagem_logo, #conteudo_adm #header_adm .imagem_logo, #conteudo_add_atendente #header_adm .imagem_logo, #conteudo_tipo_atendimento #header_adm .imagem_logo {
    margin-left: 0;
    left: 37.5%; }
  #conteudo_adm_index #header_adm .icones_header, #conteudo_adm #header_adm .icones_header, #conteudo_add_atendente #header_adm .icones_header, #conteudo_tipo_atendimento #header_adm .icones_header {
    position: absolute;
    right: 50px;
    top: 35px; }
    #conteudo_adm_index #header_adm .icones_header .flaticon-logout::before, #conteudo_adm #header_adm .icones_header .flaticon-logout::before, #conteudo_add_atendente #header_adm .icones_header .flaticon-logout::before, #conteudo_tipo_atendimento #header_adm .icones_header .flaticon-logout::before {
      font-size: 18pt;
      color: #1a3145; }
    #conteudo_adm_index #header_adm .icones_header .flaticon-logout:hover::before, #conteudo_adm #header_adm .icones_header .flaticon-logout:hover::before, #conteudo_add_atendente #header_adm .icones_header .flaticon-logout:hover::before, #conteudo_tipo_atendimento #header_adm .icones_header .flaticon-logout:hover::before {
      color: #4b7191; }
  #conteudo_adm_index #header_adm #botoes_adm_atendente, #conteudo_adm #header_adm #botoes_adm_atendente, #conteudo_add_atendente #header_adm #botoes_adm_atendente, #conteudo_tipo_atendimento #header_adm #botoes_adm_atendente {
    position: absolute;
    right: 50px;
    top: 30px; }
    #conteudo_adm_index #header_adm #botoes_adm_atendente .add_novo, #conteudo_adm #header_adm #botoes_adm_atendente .add_novo, #conteudo_add_atendente #header_adm #botoes_adm_atendente .add_novo, #conteudo_tipo_atendimento #header_adm #botoes_adm_atendente .add_novo {
      display: inline-block; }
      #conteudo_adm_index #header_adm #botoes_adm_atendente .add_novo img, #conteudo_adm #header_adm #botoes_adm_atendente .add_novo img, #conteudo_add_atendente #header_adm #botoes_adm_atendente .add_novo img, #conteudo_tipo_atendimento #header_adm #botoes_adm_atendente .add_novo img {
        width: 35px;
        transform: translateY(-5px);
        transition: .3s; }
        #conteudo_adm_index #header_adm #botoes_adm_atendente .add_novo img:hover, #conteudo_adm #header_adm #botoes_adm_atendente .add_novo img:hover, #conteudo_add_atendente #header_adm #botoes_adm_atendente .add_novo img:hover, #conteudo_tipo_atendimento #header_adm #botoes_adm_atendente .add_novo img:hover {
          opacity: .7; }
    #conteudo_adm_index #header_adm #botoes_adm_atendente #divisor, #conteudo_adm #header_adm #botoes_adm_atendente #divisor, #conteudo_add_atendente #header_adm #botoes_adm_atendente #divisor, #conteudo_tipo_atendimento #header_adm #botoes_adm_atendente #divisor {
      display: inline-block;
      width: 2px;
      height: 14px;
      background-color: #1a3145;
      border-radius: 50px;
      border: 1px solid #1a3145;
      transform: translateX(9px); }
    #conteudo_adm_index #header_adm #botoes_adm_atendente .logout, #conteudo_adm #header_adm #botoes_adm_atendente .logout, #conteudo_add_atendente #header_adm #botoes_adm_atendente .logout, #conteudo_tipo_atendimento #header_adm #botoes_adm_atendente .logout {
      position: relative;
      display: inline-block;
      right: 0;
      top: 0; }

#conteudo_adm #corpo, #conteudo_add_atendente #corpo, #conteudo_tipo_atendimento #corpo {
  width: 100%; }
  #conteudo_adm #corpo .header_corpo, #conteudo_add_atendente #corpo .header_corpo, #conteudo_tipo_atendimento #corpo .header_corpo {
    padding-left: 40px; }
    #conteudo_adm #corpo .header_corpo img, #conteudo_adm #corpo .header_corpo h1, #conteudo_add_atendente #corpo .header_corpo img, #conteudo_add_atendente #corpo .header_corpo h1, #conteudo_tipo_atendimento #corpo .header_corpo img, #conteudo_tipo_atendimento #corpo .header_corpo h1 {
      display: inline-block;
      font-weight: bold;
      color: #1a3145; }
    #conteudo_adm #corpo .header_corpo img, #conteudo_add_atendente #corpo .header_corpo img, #conteudo_tipo_atendimento #corpo .header_corpo img {
      width: 40px;
      transform: translateY(-10px);
      margin-right: 10px; }
    #conteudo_adm #corpo .header_corpo .linha_header, #conteudo_add_atendente #corpo .header_corpo .linha_header, #conteudo_tipo_atendimento #corpo .header_corpo .linha_header {
      display: block;
      height: 2px;
      width: 120px;
      background-color: #1a3145;
      margin-left: 170px; }

#conteudo_adm_index #botoes_adm {
  width: 100%;
  text-align: center;
  transform: translateY(30vh); }
  #conteudo_adm_index #botoes_adm .botoes {
    display: inline-block;
    width: 45%; }
    #conteudo_adm_index #botoes_adm .botoes a {
      font-size: 35pt;
      color: #1a3145;
      border: #1a3145 2px solid;
      padding: 15px;
      display: block;
      width: 100%;
      transition: .3s; }
      #conteudo_adm_index #botoes_adm .botoes a:hover {
        background-color: #b8d3e4; }

#conteudo_adm #corpo .lista_tabela, #conteudo_tipo_atendimento #corpo .lista_tabela {
  padding: 20px 40px; }
  #conteudo_adm #corpo .lista_tabela table, #conteudo_tipo_atendimento #corpo .lista_tabela table {
    width: 100%;
    text-align: center; }
    #conteudo_adm #corpo .lista_tabela table tr, #conteudo_tipo_atendimento #corpo .lista_tabela table tr {
      font-size: 18pt; }
      #conteudo_adm #corpo .lista_tabela table tr th, #conteudo_tipo_atendimento #corpo .lista_tabela table tr th {
        font-weight: bold;
        text-align: center; }
      #conteudo_adm #corpo .lista_tabela table tr td a, #conteudo_tipo_atendimento #corpo .lista_tabela table tr td a {
        cursor: pointer; }
        #conteudo_adm #corpo .lista_tabela table tr td a .flaticon-garbage:hover::before, #conteudo_adm #corpo .lista_tabela table tr td a .flaticon-edit:hover::before, #conteudo_tipo_atendimento #corpo .lista_tabela table tr td a .flaticon-garbage:hover::before, #conteudo_tipo_atendimento #corpo .lista_tabela table tr td a .flaticon-edit:hover::before {
          color: #e4ecf7; }
        #conteudo_adm #corpo .lista_tabela table tr td a .flaticon-garbage::before, #conteudo_adm #corpo .lista_tabela table tr td a .flaticon-edit::before, #conteudo_tipo_atendimento #corpo .lista_tabela table tr td a .flaticon-garbage::before, #conteudo_tipo_atendimento #corpo .lista_tabela table tr td a .flaticon-edit::before {
          margin-left: 0; }
      #conteudo_adm #corpo .lista_tabela table tr .editando, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando {
        padding: 20px 0; }
        #conteudo_adm #corpo .lista_tabela table tr .editando .flaticon-edit, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando .flaticon-edit {
          position: absolute;
          left: 25px;
          transform: translateY(-8px); }
          #conteudo_adm #corpo .lista_tabela table tr .editando .flaticon-edit::before, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando .flaticon-edit::before {
            font-size: 25pt;
            color: #1a3145; }
        #conteudo_adm #corpo .lista_tabela table tr .editando input, #conteudo_adm #corpo .lista_tabela table tr .editando button, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando input, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando button {
          border: none;
          background-color: transparent;
          padding: 0; }
        #conteudo_adm #corpo .lista_tabela table tr .editando input, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando input {
          text-align: center;
          border-bottom: solid 2px #4b7191;
          width: 90%;
          font-weight: bold; }
          #conteudo_adm #corpo .lista_tabela table tr .editando input:focus, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando input:focus {
            border-color: #e7982a; }
        #conteudo_adm #corpo .lista_tabela table tr .editando button img, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando button img {
          width: 30px;
          transform: translateY(-3px); }
          #conteudo_adm #corpo .lista_tabela table tr .editando button img:hover, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando button img:hover {
            position: relative;
            -webkit-filter: contrast(200%) brightness(200%) saturate(64%) sepia(100%) grayscale(100%) invert(100%);
            filter: contrast(200%) brightness(200%) saturate(64%) sepia(100%) grayscale(100%) invert(100%); }
        #conteudo_adm #corpo .lista_tabela table tr .editando a .flaticon-cancel:hover::before, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando a .flaticon-cancel:hover::before {
          color: #e4ecf7; }
        #conteudo_adm #corpo .lista_tabela table tr .editando a .flaticon-cancel::before, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .editando a .flaticon-cancel::before {
          margin: 0;
          font-size: 18pt;
          color: #1a3145; }
      #conteudo_adm #corpo .lista_tabela table tr .bloqueado, #conteudo_tipo_atendimento #corpo .lista_tabela table tr .bloqueado {
        pointer-events: none;
        opacity: .4; }
    #conteudo_adm #corpo .lista_tabela table .items:hover, #conteudo_tipo_atendimento #corpo .lista_tabela table .items:hover {
      background-color: #b8d3e4; }

#conteudo_add_atendente #corpo #add_atentente_header img {
  filter: brightness(2.3); }
#conteudo_add_atendente #corpo #add_atentente_header .linha_header {
  margin-left: 320px; }
#conteudo_add_atendente #corpo #formulario_add {
  padding: 20px; }
  #conteudo_add_atendente #corpo #formulario_add form {
    width: 50%;
    margin-left: 25%; }
    #conteudo_add_atendente #corpo #formulario_add form .campos_add {
      width: 100%;
      height: 50px;
      font-size: 18pt;
      margin-top: 20px;
      border: none;
      background-color: transparent; }
    #conteudo_add_atendente #corpo #formulario_add form .placeholder {
      transform: translate(1px, -42px);
      display: block;
      position: absolute;
      transition: .3s;
      font-size: 18pt;
      color: #7d7d7d;
      font-weight: 100;
      cursor: text; }
    #conteudo_add_atendente #corpo #formulario_add form #matricula:focus ~ .matricula,
    #conteudo_add_atendente #corpo #formulario_add form #nome:focus ~ .nome,
    #conteudo_add_atendente #corpo #formulario_add form #email:focus ~ .email,
    #conteudo_add_atendente #corpo #formulario_add form .active {
      transform: translate(1px, -65px);
      z-index: 1;
      font-size: 12pt;
      color: #202020; }
    #conteudo_add_atendente #corpo #formulario_add form .input_attr:focus ~ .limpar {
      opacity: 1; }
    #conteudo_add_atendente #corpo #formulario_add form .input_attr {
      border-bottom: solid 1px #4b7191; }
    #conteudo_add_atendente #corpo #formulario_add form .limpar {
      position: absolute;
      right: 27%;
      transform: translateY(-40px);
      font-size: 15pt;
      color: #7d7d7d;
      opacity: 0; }
      #conteudo_add_atendente #corpo #formulario_add form .limpar:hover {
        text-decoration: none; }
    #conteudo_add_atendente #corpo #formulario_add form .botao {
      border: solid 2px #4b7191;
      border-color: #1a3145;
      background-color: transparent;
      transition: .4s;
      margin-top: 25px; }
      #conteudo_add_atendente #corpo #formulario_add form .botao:hover {
        background-color: #1a3145;
        color: #fff; }
  #conteudo_add_atendente #corpo #formulario_add #obs {
    font-size: 16pt;
    text-align: center;
    margin-top: 20px; }
  #conteudo_add_atendente #corpo #formulario_add .mensagem_erro {
    color: #ff0000;
    text-align: center;
    font-size: 14pt;
    font-weight: bold; }

#conteudo_tipo_atendimento #corpo .header_corpo .linha_header {
  margin-left: 320px; }
#conteudo_tipo_atendimento #add_tipo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 46, 68, 0.9); }
  #conteudo_tipo_atendimento #add_tipo #janela_add_tipo {
    padding: 10px;
    width: 30%;
    margin-left: 35%;
    margin-top: 20vh;
    background-color: #e4ecf7;
    border: solid 2px #4b7191; }
    #conteudo_tipo_atendimento #add_tipo #janela_add_tipo #fechar {
      position: absolute;
      right: 32%;
      transition: .3s; }
      #conteudo_tipo_atendimento #add_tipo #janela_add_tipo #fechar img {
        width: 30px; }
      #conteudo_tipo_atendimento #add_tipo #janela_add_tipo #fechar:hover {
        transform: rotate(134deg); }
    #conteudo_tipo_atendimento #add_tipo #janela_add_tipo h2 {
      margin: 10px 0 30px 0;
      font-size: 17pt;
      font-weight: bold;
      text-align: center; }
    #conteudo_tipo_atendimento #add_tipo #janela_add_tipo .campos_tipo {
      width: 100%;
      height: 50px;
      font-size: 18pt;
      margin-top: 20px;
      border: none;
      background-color: transparent; }
    #conteudo_tipo_atendimento #add_tipo #janela_add_tipo .placeholder {
      transform: translate(1px, -43px);
      display: block;
      position: absolute;
      transition: .3s;
      font-size: 18pt;
      color: #7d7d7d;
      font-weight: 100;
      cursor: text; }
    #conteudo_tipo_atendimento #add_tipo #janela_add_tipo #tipo_atendimento:focus ~ .tipo_atendimento, #conteudo_tipo_atendimento #add_tipo #janela_add_tipo .active {
      transform: translate(1px, -65px);
      z-index: 1;
      font-size: 12pt;
      color: #202020; }
    #conteudo_tipo_atendimento #add_tipo #janela_add_tipo .input_attr:focus ~ .limpar {
      opacity: 1; }
    #conteudo_tipo_atendimento #add_tipo #janela_add_tipo .input_attr {
      border-bottom: solid 1px #4b7191; }
    #conteudo_tipo_atendimento #add_tipo #janela_add_tipo .limpar {
      position: static;
      float: right;
      transform: translateY(-40px);
      font-size: 15pt;
      color: #7d7d7d;
      opacity: 0; }
      #conteudo_tipo_atendimento #add_tipo #janela_add_tipo .limpar:hover {
        text-decoration: none; }
    #conteudo_tipo_atendimento #add_tipo #janela_add_tipo .botao {
      border: solid 2px #4b7191;
      border-color: #1a3145;
      background-color: transparent;
      transition: .4s;
      margin-top: 0; }
      #conteudo_tipo_atendimento #add_tipo #janela_add_tipo .botao:hover {
        background-color: #1a3145;
        color: #fff; }
    #conteudo_tipo_atendimento #add_tipo #janela_add_tipo #erro {
      color: #ff0000;
      text-align: center;
      font-size: 14pt;
      font-weight: bold; }

#pedir_senha h1 {
  text-align: center;
  font-size: 35pt; }
#pedir_senha article {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px; }
  #pedir_senha article #botao_pedir {
    display: block;
    font-size: 25pt;
    background-color: transparent;
    border: solid 2px #1a3145;
    padding: 5px 20px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s; }
    #pedir_senha article #botao_pedir:hover {
      color: #fff;
      background-color: #1a3145; }
  #pedir_senha article #preferencial {
    text-align: center;
    margin-top: 30px; }
    #pedir_senha article #preferencial #input_checkbox {
      margin-top: 10px;
      width: 35px;
      height: 12px;
      background-color: #1a3145;
      position: relative;
      border-radius: 50px;
      border: solid 2px #4b7191;
      border-color: #202020;
      display: inline-block; }
      #pedir_senha article #preferencial #input_checkbox label {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -6px;
        left: -3px;
        cursor: pointer;
        background-color: #fff;
        border: solid 2px #4b7191;
        border-color: #1a3145;
        border-radius: 50px;
        transition: all .3s ease; }
      #pedir_senha article #preferencial #input_checkbox input[type=checkbox] {
        visibility: hidden; }
        #pedir_senha article #preferencial #input_checkbox input[type=checkbox]:checked + label {
          left: 14px; }
    #pedir_senha article #preferencial #label {
      display: inline-block;
      font-size: 15pt;
      transform: translateY(-7px); }
#pedir_senha #senha {
  margin-top: 50px;
  font-size: 25pt;
  font-weight: bold;
  color: #4caa8d;
  text-align: center; }
  #pedir_senha #senha span {
    color: #e7982a; }

#recuperar_senha .voltar_pagina {
  position: absolute;
  top: 20px;
  font-size: 16pt;
  font-weight: bold;
  color: #1a3145; }
  #recuperar_senha .voltar_pagina i::before {
    font-size: 20pt; }
  #recuperar_senha .voltar_pagina span {
    transform: translateY(-3px);
    display: inline-block; }
#recuperar_senha #janela {
  margin-top: 100px;
  text-align: center;
  padding: 20px; }
  #recuperar_senha #janela h1 {
    font-size: 35pt; }
  #recuperar_senha #janela p {
    font-size: 16pt;
    margin-bottom: 50px; }
  #recuperar_senha #janela .input {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #recuperar_senha #janela #email {
    font-size: 18pt;
    width: 400px;
    border: none;
    background-color: transparent;
    border-bottom: #4b7191 2px solid; }
    #recuperar_senha #janela #email:focus {
      border-bottom: 2px #e7982a solid; }
  #recuperar_senha #janela #botao {
    margin-top: 20px;
    border: 2px solid #1a3145;
    transition: .3s;
    background-color: transparent;
    font-size: 18pt;
    width: 200px; }
    #recuperar_senha #janela #botao:hover {
      background-color: #1a3145;
      color: #fff; }
  #recuperar_senha #janela #mensagem {
    margin-top: 10px;
    font-weight: bold;
    color: red;
    font-size: 12pt; }

.ativar_menu_info #conteudo_atendente #menu_info {
  transform: translateX(0); }

/*# sourceMappingURL=estilos.css.map */
