//HEADER ADM
#conteudo_adm_index,#conteudo_adm, #conteudo_add_atendente, #conteudo_tipo_atendimento, #conteudo_guiches{
  #header_adm{
    float: none;
    .voltar_pagina{
      position: absolute;
      float: left;
      left: 50px;
      top: 30px;
      .flaticon-back{
        &::before{
          font-size: 18pt;
        }
        &:hover::before{
          color: $main;
        }
      }
    }

    .imagem_logo{
      margin-left: 0;
      left: 37.5%;
    }

    .icones_header{
      position: absolute;
      right: 50px;
      top: 35px;
      .flaticon-logout{
        &::before{
          font-size: 18pt;
          color: $hard;
        }
        &:hover::before{
          color: $main;
        }
      }
    }

    //PAGINA ADD ATENDENTES
    #botoes_adm_atendente{
      position: absolute;
      right: 50px;
      top: 30px;
      .add_novo{
        display: inline-block;
        img{
          width: 35px;
          transform: translateY(-5px);
          transition: .3s;
          &:hover{
            opacity: .7;
          }
        }
      }

      #divisor{
        display: inline-block;
        width: 2px;
        height: 14px;
        background-color: $hard;
        border-radius: 50px;
        border: 1px solid $hard;
        transform: translateX(9px);
      }

      .logout{
        position: relative;
        display: inline-block;
        right: 0;
        top: 0;
      }
    }
  }
}

//HEADER DE CADA PAGINA
#conteudo_adm, #conteudo_add_atendente, #conteudo_tipo_atendimento, #conteudo_guiches{
  #corpo{
    width: 100%;
    .header_corpo{
      padding-left: 40px;
      img,h1{
        display: inline-block;
        font-weight: bold;
        color: $hard;
      }
      img{
        width: 40px;
        transform: translateY(-10px);
        margin-right: 10px;
      }
      .linha_header{
        display: block;
        height: 2px;
        width: 120px;
        background-color: $hard;
        margin-left: 170px;
      }
    }
  }
}

//PAGINA INICIAL DO ADM
#conteudo_adm_index{
  #botoes_adm{
    width: 100%;
    text-align: center;
    transform: translateY(10vh);
    .botoes{
      display: block;
      width: 80%;
      margin-bottom: 10px;
      margin-left: 10%;
      a{
        font-size: 35pt;
        color: $hard;
        border: $hard 2px solid;
        padding: 15px;
        display: block;
        width: 100%;
        transition: .3s;
        &:hover{
          background-color: $light;
        }
      }
    }
  }
}


//LISTA DE ATENDENTES, TIPOS DE ATENDIMENTOS E GUICHES
#conteudo_adm,#conteudo_tipo_atendimento, #conteudo_guiches{
  #corpo{
    .lista_tabela{
      padding: 20px 40px;
      #erro{
        text-align: center;
        font-size: 15pt;
        color: #ff0000;
        font-weight: bold;
      }
      table{
        width: 100%;
        text-align: center;
        tr{
          font-size: 18pt;
          th{
            font-weight: bold;
            text-align: center;
          }
          td{
            a{
              cursor: pointer;
              .flaticon-garbage,.flaticon-edit{
                &:hover::before{
                  color: $bg;
                }
                &::before{
                  margin-left: 0;
                }
              }
            }
          }
          .editando{
            padding: 20px 0;
            .flaticon-edit{
              position: absolute;
              left: 25px;
              transform: translateY(-8px);
              &::before{
                font-size: 25pt;
                color: $hard;
              }
            }
            input,button{
              border: none;
              background-color: transparent;
              padding: 0;
            }
            input{
              text-align: center;
              border-bottom: $borda2px;
              width: 90%;
              font-weight: bold;
              &:focus{
                border-color: $links;
              }
            }
            button{
              img{
                width: 30px;
                transform: translateY(-3px);
                &:hover{
                  position: relative;
                  -webkit-filter: contrast(200%) brightness(200%) saturate(64%) sepia(100%) grayscale(100%) invert(100%);
                  filter: contrast(200%) brightness(200%) saturate(64%) sepia(100%) grayscale(100%) invert(100%);
                }
              }
            }
            a{
              .flaticon-cancel{
                &:hover::before{
                  color: $bg;
                }
                &::before{
                  margin: 0;
                  font-size: 18pt;
                  color: $hard;
                }
              }
            }
          }

          .bloqueado{
            pointer-events: none;
            opacity: .4;
          }
        }
        .items{
          &:hover{
            background-color: $light;
          }
        }
      }
    }
  }
}

//PAGINA ADD ATENDENTE
#conteudo_add_atendente{
  #corpo{
    #add_atentente_header{
      img{
        filter: brightness(2.3);
      }
      .linha_header{
        margin-left: 320px;
      }
    }
    #formulario_add{
      padding: 20px;
      form{
        width: 50%;
        margin-left: 25%;
        .campos_add{
          width: 100%;
          height: 50px;
          font-size: 18pt;
          margin-top: 20px;
          border: none;
          background-color: transparent;
        }
        .placeholder{
          transform: translate(1px, -42px);
          display: block;
          position: absolute;
          transition: .3s;
          font-size: 18pt;
          color: $cinza;
          font-weight: 100;
          cursor: text;
        }
        #matricula:focus ~ .matricula,
        #nome:focus ~ .nome,
        #email:focus ~ .email,
        .active{
          transform: translate(1px, -65px);
          z-index: 1;
          font-size: 12pt;
          color: $preto;
        }

        .input_attr:focus ~ .limpar{
          opacity: 1;
        }

        .input_attr{
          border-bottom: $borda1px;
        }

        .limpar{
          position: absolute;
          right: 27%;
          transform: translateY(-40px);
          font-size: 15pt;
          color: $cinza;
          opacity: 0;
          &:hover{
            text-decoration: none;
          }
        }

        .botao{
          border: $borda2px;
          border-color: $hard;
          background-color: transparent;
          transition: .4s;
          margin-top: 25px;
          &:hover{
            background-color: $hard;
            color: #fff;
          }
        }
      }
      #obs{
        font-size: 16pt;
        text-align: center;
        margin-top: 20px;
      }
      .mensagem_erro{
        color: #ff0000;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
      }
    }
  }
}

//PAGINA TIPOS DE ATENDIMENTO
#conteudo_tipo_atendimento,#conteudo_guiches{
  #corpo{
    .header_corpo{
      .linha_header{
        margin-left: 320px;
      }
    }
  }
  //JANELA DE ADICIONAR NOVO
  #add_novo{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 46, 68, 0.9);
    #janela_add{
      padding: 10px;
      width: 30%;
      margin-left: 35%;
      margin-top: 20vh;
      background-color: $bg;
      border: $borda2px;
      #fechar{
        position: absolute;
        right: 32%;
        transition: .3s;
        img{
          width: 30px;
        }
        &:hover{
          transform: rotate(134deg);
        }
      }
      h2{
        margin: 10px 0 30px 0;
        font-size: 17pt;
        font-weight: bold;
        text-align: center;
      }

      .campos_tipo{
        width: 100%;
        height: 50px;
        font-size: 18pt;
        margin-top: 20px;
        border: none;
        background-color: transparent;
      }

      .placeholder{
        transform: translate(1px, -43px);
        display: block;
        position: absolute;
        transition: .3s;
        font-size: 18pt;
        color: $cinza;
        font-weight: 100;
        cursor: text;
      }

      #tipo_atendimento:focus ~ .tipo_atendimento,
      #ip_maquina:focus ~ .ip_maquina,
      #num_guiche:focus ~ .num_guiche,
      .active{
        transform: translate(1px, -65px);
        z-index: 1;
        font-size: 12pt;
        color: $preto;
      }

      #ip_maquina:focus ~ .ip_maquina{
        img{
          display: inline-block;
          cursor: pointer;
          transition: .2s;
          &:hover{
            opacity: .5;
          }
        }
      }

      #placeholder_ip_maquina{
        .tooltip-inner{
          max-width: 500px;
          width: 500px;
        }
        img{
          display: none;
          width: 18px;
          transform: translate(4px,-1px);
        }
      }

      .input_attr:focus ~ .limpar{
        opacity: 1;
      }

      .input_attr{
        border-bottom: $borda1px;
      }

      .limpar{
        position: static;
        float: right;
        transform: translateY(-40px);
        font-size: 15pt;
        color: $cinza;
        opacity: 0;
        &:hover{
          text-decoration: none;
        }
      }

      .botao{
        border: $borda2px;
        border-color: $hard;
        background-color: transparent;
        transition: .4s;
        margin-top: 0;
        &:hover{
          background-color: $hard;
          color: #fff;
        }
      }
      #erro{
        color: #ff0000;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
      }
    }
  }
}

//PAGINA GUICHES
#conteudo_guiches{
  #corpo{
    .header_corpo{
      .linha_header{
        margin-left: 120px;
      }
    }
  }
}