//Cores
$bg: #e4ecf7;
$light: #b8d3e4;
$main: #4b7191;
$hard: #1a3145;
$second: #4caa8d;
$clean: #e5dfa7;
$links: #e7982a;
$linksHover: #fbb749;
$preto: #202020;
$cinza: #7d7d7d;

//Bordas
$borda1px: solid 1px $main;
$borda2px: solid 2px $main;